button,button:hover{
	border:none;
	color:#fff;
	padding:10px;
}
.chat__messages,.chat__sidebar ul{
	list-style-type:none;
}
*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	font-family:HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-weight:300;
	font-size:.95rem;
}
li,ul{
	list-style-position:inside;
}
h3{
	font-weight:600;
	text-align:center;
	font-size:1.5rem;
}
button{
	/*background-image:linear-gradient(110deg,#7474BF 0px,#348AC7 50%,#7474BF 100%);*/
	background-color: #2b90d9;
	/*background-size: 660px 50px;
	background-position: 0 0 ;*/
	cursor:pointer;
	transition:background .3s ease;
}
button:hover{
	/*background-position: -330px 0 ;*/
	background-color: #147EE2;
}
button:disabled{
	cursor:default;
	background:#698ea5;
}
.centered-form{
	display:flex;
	align-items:center;
	height:100vh;
	width:100vw;
	justify-content:center;
	background: #c2e59c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c2e59c, #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c2e59c, #64b3f4);
}
.centered-form__form{
	background:rgba(252,252,252,.9);
	border:1px solid #e1e1e1;
	border-radius:5px;
	box-shadow: 0 2px 4px 0 rgba(100, 100, 100, 0.5);
	padding:0 20px;
	margin:20px;
	max-width: 400px;
	width:30vw;
	min-width: 300px;
}
.form-field{
	margin:40px 0;
}
.form-field>*{
	width:100%;
}
.form-field label{
	display:block;
	margin-bottom:7px;
}
.form-field input,.form-field select{
	border:1px solid #e1e1e1;
	padding:10px;
	outline: none;
}
.chat{
	display:flex;
}
.chat__sidebar{
	overflow-y:scroll;
	width:260px;
	height:100vh;
	/*background-image:linear-gradient(125deg,#24c6dc 0px,#514a9d 100%);*/
	background: linear-gradient(125deg, #c2e59c, #64b3f4);
}
.chat__footer,.chat__sidebar li{
	background:#fefefe;
	padding:10px;
}
.chat__footer{
	background:#e6eaee;
}
.chat__sidebar h3{
	color:#353848;
	margin:10px 20px;
	text-align:left;
}
.chat__sidebar li{
	border:1px solid #e1e1e1;
	border-radius:5px;
	margin:10px;
}
.chat__main{
	display:flex;
	flex-direction:column;
	height:100vh;
	width:100%;
}
.chat__messages{
	flex-grow:1;
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
	padding:10px;
}
.chat__footer{
	display:flex;
	flex-shrink:0;
}
.chat__footer form{
	flex-grow:1;
	display:flex;
}
.chat__footer form *{
	margin-right:10px;
}
.chat__footer input{
	border:none;
	padding:10px;
	flex-grow:1;
}
.message{
	padding:10px;
}
.message__title{
	display:flex;
	margin-bottom:5px;
}
.message__title h4{
	font-weight:600;
	margin-right:10px;
}
.message__title span{
	color:#999;
}
@media (max-width:600px){
*{
	font-size:1rem;
}
.chat__sidebar{
	display:none;
}
.chat__footer{
	flex-direction:column;
}
.chat__footer form{
	margin-bottom:10px;
}
.chat__footer button{
	margin-right:0;
}
